.wallet-adapter-button-trigger {
    background: var(--Prime-Gradient, linear-gradient(180deg, #00B0F8 0%, #00ADEA 100%)) !important;
    box-shadow: 0px -0.5px 0px 0px #0090C6 inset, 0px 1px 0px 0px #2CC3FF inset !important;
}

.wallet-adapter-button {
    color: #FFF !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    border-radius: 8px !important;
    height: 36px !important;
}